.section-divider {
    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--space-sm);
    }

    &__divider {
        display: flex;
        gap: var(--space-sm);
        align-items: center;

        img {
            width: 16px;
        }
    }

    &__line {
        background-color: var(--gray-600);
        height: 1.8px;
        width: 100%;
    }
}
