.title-widget {
    width: 600px;
    margin-bottom: var(--space-md);

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--space-2xs);
        align-items: flex-end;

        span {
            transform: translateX(-24px);
        }
    }

    &__body {
        display: flex;
        gap: var(--space-sm);
        align-items: flex-start;

        img {
            width: 12px;
            transition: all ease 0.2s;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
}
