.tag {
    color: var(--beige-500);
    border-radius: 2rem;
    background-color: var(--orange-700);
    padding: var(--space-xs) var(--space-3xl) calc(var(--space-xs) - 2px);
    width: fit-content;
}
