@use "../../../sass/breakpoints.scss" as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-700);
    padding: var(--space-md) var(--space-2xl);
    min-height: 4.375rem;

    @include breakpoint(tablet) {
        padding: var(--space-md) var(--space-md);
    }

    &__logo picture img {
        height: 40px;
    }

    &__action-btns {
        display: flex;
        align-items: center;
        gap: var(--space-sm);
    }
}
