.postcard-medium {
    display: flex;
    gap: var(--space-xl);
    cursor: pointer;

    &__image {
        position: relative;
        min-width: 350px;
        height: 205px;
        background-color: var(--gray-600);

        &::after {
            position: absolute;
            content: "";
            bottom: 0px;
            right: 0;
            border-bottom: 30px solid var(--orange-700);
            border-left: 30px solid transparent;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
    }
}
